[2016-10-20 21:37] meandavejustice opened #1 "demo page"
Would be great to see a demo on gh-pages or equivalent

[2016-10-21 02:44] slmgc commented on #1
@meandavejustice good idea, I'll try to add one this weekend.

[2016-10-30 17:18] #1 closed

[2016-10-30 17:21] slmgc commented on #1
@meandavejustice sorry for the delay. https://slmgc.github.io/react-hint/

[2017-05-10 23:01] jcuenod opened #2 "Global Settings in ReactHint Props"
It would be great if we could provide global settings/defaults to ReactHint through the component, for example:

    <ReactHint displayDelay=100 hideDelay=300 transition="slide" />

Also, supporting those settings would be great as well ;)

[2017-05-12 07:25] slmgc commented on #2
@jcuenod yep. I plan to add these settings in the future update. Btw, do you think it makes sense to add both show/hide delay settings?

[2017-05-30 14:46] cimi opened #3 "SVG support"
Nice library! I've just stumbled upon it today and played with it a bit.

I've tried using react-hint to add tooltips to SVG elements and it doesn't work. I'm guessing it's because it tries to inject 'plain' DOM elements (`div`, `span`) as the wrappers for the tooltip and that doesn't play well with SVG.

I've used [redux-tooltip](https://github.com/kuy/redux-tooltip) successfully with SVG. That l

[2017-05-31 02:38] slmgc commented on #3
@cimi oh, that's an interesting use-case! Could you post a link to a fiddle with an example? I would like to figure out what's wrong as it seems that react-hint should work. Unless it's being placed inside of the SVG.

[2017-08-16 17:40] 440459012 opened #4 "get _ref on hover in my component"
hello, can you tell me if it's possible to get hovered element ?
i want to replace some data in custom tooltip from 'target' data attributes

[2017-08-16 18:03] vcebotari commented on #4
and another question, how to hide tooltip even i hover it self?

[2017-08-16 23:42] slmgc commented on #4
Hi! I'm working on a new release which should be ready by the end of this week.

The new 2.0 release will support additional options like delay time before showing a tooltip, hide a tooltip on hover, disable hover events to trigger a tooltip programmatically, custom tooltips, multiple tooltips with different settings, etc.

As for your former question: can you post a link to a fiddle with an examp

[2017-08-17 05:49] vcebotari commented on #4
hi! thanks, will wait for the new one.

[2017-08-21 06:57] slmgc commented on #4
v2 was released, let me know if you have any issues with it

[2017-08-21 06:57] #4 closed

[2017-08-21 06:58] slmgc commented on #2
Released v2, added delay-related global settings

[2017-08-21 06:58] #2 closed

[2017-08-21 10:20] dsslimshaddy opened #5 "demo not working"

[2017-08-21 15:56] slmgc commented on #5
Yep, thanks! Looks like the demo page was broken as I didn't have much time to update it to a new major version. Pinned the version number, for now, should be ok: https://react-hint.js.org/

[2017-08-21 15:56] #5 closed

[2017-08-21 21:23] jcuenod commented on #2
@slmgc Great! Sorry - don't know how I missed your question on the previous message.
The reason I had thought hide delay would be handy is because it gives the user a chance to hover on the hint if it's a harder target.

[2017-08-22 00:18] slmgc commented on #2
@jcuenod at this point a unified delay setting for both hide/show was implemented. This can be easily extended later if there will be a need for it.

[2017-08-22 00:22] jcuenod commented on #2
@slmgc oh ja! thanks for taking the suggestion of the global setting.

[2017-08-24 07:55] hudochenkov opened #6 "Changelog"
Thank you for your library!

What are breaking (and non-breaking) changes in v2? I can't find changelog anywhere. Would you mind add it, please?

[2017-08-24 18:10] slmgc commented on #6
@hudochenkov hey :)
There were some breaking API changes and I agree, I need to add a changelog. I will try to do this within the next few days.

As for now, you can probably use [the link to the latest v1 "How to use" section]( https://github.com/slmgc/react-hint/tree/19b347021e964e224fdd61addb2ad646789814ee#how-to-use) as it lists all the parameters and shows some usage examples. Hope it helps!

[2017-08-26 02:34] cawfeecoder commented on #6
I can't get React Hint to work with Infero :/ Keep getting a "Super must not be null" error in the console.

[2017-08-26 18:56] slmgc commented on #6
@nfrush in order to use react-hint with Inferno, you need to install `inferno-compat` as it should have a compatible API, similar to React, as react-hint expects to see `createElement` & `Component`, when you initialize a new instance, e.g. `ReactHintFactory({createElement, Component})`:
[code]

[2017-09-01 02:10] ZhangChen199102 opened #8 "How to add extra class for tooltip?"
Like if I want to change the background color of tooltip, what should I do?

[2017-09-01 04:51] slmgc commented on #8
Hi! There are a few options here:
1. In case you want to introduce slight style changes to the tooltip, you can import the default css and, after that, import your custom css with overridden rules for `.react-hint`:
[code]
2. If you want to completely change the look of tooltips, you can change the default class name of tooltips. This will require introducing new css rules for `.custom-hint`, you

[2017-09-02 20:46] slmgc commented on #6
@hudochenkov added [changelog](https://github.com/slmgc/react-hint/blob/master/CHANGELOG.md)

[2017-09-02 20:46] #6 closed

[2017-09-02 21:09] #8 closed

[2017-09-02 21:22] hudochenkov commented on #6
Thank you very much!

[2017-09-05 18:52] riccardod opened #9 "Error when building for production"
The compilation fails when building for production (npm run build) due to Webpack Uglify plugin.

Step to reproduce:

[code]

The error seems due to the way "react-hint" is exported (http://bit.ly/2tRViJ9)
Temporary workaround: Copied and referenced the ReactHintFactory in my project directly and it worked.

[2017-09-06 16:14] howells opened #10 "Multiple instances of react-hint: how to use ReactHintFactory properly?"
I'm having great trouble using react-hint across multiple, individual components in my app.

If react-hint is included multiple times, I end up with multiple tooltips appears on every hover. I think it's because I'm setting up each instance using:

`const ReactHint = ReactHintFactory(React)`

and so ReactHint is using the same root but I don't understand how I can set up a new instance specific to

[2017-09-06 20:21] slmgc commented on #10
Hi, let me try to help you out!
Usually, you don't need to include ReactHint in every component which uses tooltips, just include it once in a topmost container component:

[code]

In case you absolutely need to define it in multiple places (strongly discouraged), you can re-define the attribute name for each instance, like this:

[code]

[2017-09-06 23:07] howells commented on #10
Ah - thInking I needed to add the component within multiple components is where I was going wrong - thanks so much for your help!

[2017-09-07 06:00] slmgc commented on #10
@howells is there a way to make it more clear in the docs?

[2017-09-07 06:42] slmgc commented on #9
Thanks a lot for pointing this out!
Updated the `react-hint` npm package. Depending on the npm version, might require running:
[code]

[2017-09-07 06:45] #9 closed

[2017-09-07 07:21] howells commented on #10
@slmgc I think it's me just being a noob and now it's clear. I guess make it clear that the tooltip should only be instantiated once across the whole app and use the data attributes to configure

[2017-09-07 07:21] #10 closed

[2017-09-08 08:34] nasushkov opened #11 "Please, update your site https://react-hint.js.org/"
Hi
Just found this library. Please, update the example on your site https://react-hint.js.org/
It seems that it the example uses an outdated version of this library

[2017-09-08 10:46] madkarlsson commented on #11
+1
caused quite some confusion and had to find a [closed issue ](https://github.com/slmgc/react-hint/issues/8) to figure out how to do what should be simple stuff

[2017-09-08 13:28] slmgc commented on #11
Yep, the samples need to be updated, I'll try to do it this weekend.

[2017-09-26 05:38] lauriejones opened #12 "Unable to close tooltip on touch devices"
Hi Vladimir,

Thanks very much for the component. It works well and is much simpler to style than most tooltip options out there.

We are having some trouble on mobile / touch devices in our app. Tooltips open fine, but we have no way to close them. Tapping on another link opens that tooltip and closes the previously open one, but we are not able to toggle the visibility of one tooltip by tapping

[2017-09-26 17:17] slmgc commented on #12
Hi Laurie,

Thanks for letting me know. I'll try to look into this issue today. Btw, on which devices/OSes/browsers you were able to reproduce the issue?

[2017-09-26 22:56] lauriejones commented on #12
Thanks for responding so quickly!

We were looking on iOS, iPhone 6 using Chrome.

[2017-09-27 04:59] slmgc commented on #12
Ok, I was able to reproduce this bug. It works fine on Android devices, but doesn't work on iPhones. I'll try to figure out a way to resolve the issue.

[2017-09-27 05:05] lauriejones commented on #12
Cool, thank you. We have had to go with something else so there is no urgency from us. Feel free to solve at your own leisure (or not!).

Thanks again for getting back to me so quickly 👍

[2017-09-30 10:17] #12 closed

[2017-11-04 12:37] slmgc commented on #11
Updated the website with the latest examples from react-hint v3.

[2017-11-04 12:37] #11 closed

[2017-11-13 09:53] hudochenkov opened #13 "Migration to v3 from v1"
Currently we use react-hint@1.3.1. We have `<ReactHint />` in top container component to avoid conflicts with multiple instances in v1. Half of our components use `data-rh-cls`. Is there a strategy how to migrate to v3 when only half of components uses `data-rh-cls`?

Is this possible to get back `data-rh-cls` back, which was deprecated in 2.0.0?

Thank you for your library!

[2017-11-13 18:25] slmgc commented on #13
Is it the same class name value for `data-rh-cls` for half of components? If it is, then you can define a second instance of `<ReactHint />` which will handle this kind of tooltips:

[code]

Does it solve your case? If not, we'll figure it out :)

[2017-11-14 16:12] hudochenkov commented on #13
Thank you for a quick reply!

Your solution works! As you assumed we use the same class name for one half of components.

I faced two problems while adopting v3:

1. `event` should be enabled, otherwise no tooltips :)
2. Custom class name makes impossible to not break BEM if custom class was used as modifier in v1. We're using `.react-hint--tip` in `data-rh-cls` to modify default `.react-hint` sty

[2017-11-14 17:04] slmgc commented on #13
Hm, I see your point. I guess this can be solved by splitting the class name by whitespace and attaching a postfix to each of the resulting classes, e.g.

[code]

Do you think this will be better? I am open to proposals if you have any.

[2017-11-14 18:02] hudochenkov commented on #13
`react-hint--tip__content` still is not correct BEM class name.

Current implementation allows to rename block. With class name `block-name`:

[code]

And it's good. It solve namespace problem.

I think you shouldn't change anything. With following code I could achieve desired results (not ideal, but works :)):

[code]

[code]

Thank you for your help!

[2017-11-14 18:02] #13 closed

[2017-11-18 02:40] slmgc commented on #3
I've checked react-hint with SVG and it worked just fine for me:
![screen shot 2017-11-17 at 21 37 45](https://user-images.githubusercontent.com/5236786/32976206-ae705506-cbdf-11e7-9ddd-1b5b66e78a73.png)
 Please reopen in case you'll be able to provide a repro.

[2017-11-18 02:40] #3 closed

[2017-11-21 20:11] tolrodco opened #14 "Support for Children"
While I could develop this by forking, I thought it would be helpful for the community to add support for child elements where the tooltip could accept HTML components.

My use cases are specific to what I need, but, I think it would be helpful to support HTML within the tooltip itself.

Specially, when you would like to display certain elements with CSS styles, or, when presenting limited tabular

[2017-11-21 21:32] slmgc commented on #14
Hi, could you describe your use-case in detail? If you will be able to provide a repro that would be really useful as it seems that the current implementation already supports all what's needed to render any html content.

[2017-11-22 19:30] tolrodco commented on #14
Sure, unless I missed it, the way I am thinking is supporting children through the use of the ReactHint tag example, taking the child elements to be rendered in the hint without the need to create a function to support the additional elements:

[code]

The breakdown could be checking to see if there are child elements, if true, the code would be smart enough to then use the attributes of the paren

[2017-11-22 21:46] slmgc commented on #14
Ok, I see your case. But I believe it's perfectly doable with the current API:

[code]

The downside I see with the proposal to use children is that it won't cover use-cases with multiple templates or the data, which is dependant on the data-attribute of the element. This is covered by the `onRenderContent` property, e.g.:

[code]

I don't think this is easily implementable with children only. Is

[2017-11-29 21:13] slmgc commented on #14
Resolving, for now. Please feel free to re-open in case of any issues.

[2017-11-29 21:13] #14 closed

[2017-11-30 00:54] tolrodco commented on #14
Thank you for clarifying, and, providing a clear example--really helpful.

[2018-01-25 09:19] ayal opened #15 "Hint doesn't re-render if data-rh is changed and hint is visible"
Say that I have a div with data-rh={this.state.hintText}, on hover it shows.
Let's say I have an onClick on that element and when clicked I change state.hintText to something else - the element re-renders but the hint stays the same.

Only after mouseout/in does it renders correctly.

Could not find a workaround with available methods.

[2018-01-25 10:27] kajyr opened #16 "The website is broken"
Hi! Thanks for react-hint, I am using it and having a good time :) I wanted to adopt it on a bigger project of mine, but but website https://react-hint.js.org is at the moment broken, and I cannot demo the tooltip to the rest of the team.

The error is

[code]

Thanks,

[2018-01-25 13:11] slmgc commented on #16
It might have been a transient outage of https://unpkg.com. I don't see any issues ATM, checked with Safari, Chrome, and Firefox. Could you check it again? If it's still broken for you, could you also check the network tab for any 4xx?

[2018-01-25 13:19] slmgc commented on #15
You can do something like this: get the instance of `ReactHint`
[code]
And then call `this.instance.forceUpdate()` when you need to update the contents of the tooltip. Let me know if it solves your issue.

[2018-01-25 13:24] kajyr commented on #16
Yes nw it works perfectly! :) Sorry for the issue :)

[2018-01-25 13:24] #16 closed

[2018-01-29 23:36] slmgc commented on #15
@ayal closing the issue, feel free to reopen in case the solution doesn't work for you.

[2018-01-29 23:36] #15 closed

[2018-02-05 12:09] ayal commented on #15
Hey, thanks for your quick reply and sorry for my late reply. I tried this before and it didn't work - only now noticed I had two instances of <ReactHint .../> in my code since in the readme example you put two instances and it's a bit confusing. Anyways it works with one instance using the "forceupdate" solution. Thanks.

[2018-02-12 17:28] r3wt opened #17 "React 16: TypeError"
Hello, I am trying to get started with your library. However, the following code is giving me an error.

**Tooltip.js**
[code]

gives following error:

[code]
![image](https://user-images.githubusercontent.com/4483325/36110311-c125d06c-0fe7-11e8-835c-531e13355813.png)

[2018-02-12 17:34] r3wt commented on #17
Oh brother. Stupid autocomplete in VSCode. Sorry about this. Its a non issue.

[2018-02-12 17:34] #17 closed

[2018-02-14 11:48] mockey-jockey opened #18 "SVG with IE"
using SVG react hint not working in IE11,Except IE for all browser working well.kindly help to resolve this.

[2018-02-14 11:48] mockey-jockey commented on #3
using SVG react hint not working in IE11,Except IE for all browser working well.kindly help to resolve this

[2018-02-14 13:46] mockey-jockey commented on #3
@cimi @slmgc -->I fixed this issue ,**element.dateset** not working in IE,

[code]

changed to -------

[code]

Above code will work perfectly in IE11

[2018-02-23 10:36] mockey-jockey commented on #18
@cimi @slmgc -->I fixed this issue ,element.dateset not working in IE,

[code]
**changed to -------**

[code]
Above code will work perfectly in IE11

[2018-02-23 10:37] #18 closed

[2018-02-23 21:48] srmagura opened #19 "IE support"
Thank you for this library - it works very well in Chrome and Firefox.

I have run into two problems when testing it in IE 11 though. Does react-hint support IE?

The most noticeable issue is that, in IE, the tooltips do not appear in the demo (https://react-hint.js.org/).

The other issue I am having in IE is that hovering over a select that has a tooltip causes a React "Maximum update depth exce

[2018-02-24 16:02] slmgc commented on #19
Hi, there was no initial intent to support IE11 or older, but I can try looking into this issue.

[2018-02-27 20:21] srmagura commented on #19
That's fine. Please don't feel like you need to add IE support on my behalf.

If anyone else is interested, [here](https://gist.github.com/srmagura/b57c1ec54f523804662d79e463d7b168) is the quick & dirty fallback I am using for IE. Emphasis on the "dirty".

[2018-03-06 06:24] slmgc commented on #19
Sorry for a late fix, it took me a while to find some spare time to debug this issue. Should work fine in IE11.

[2018-03-06 06:24] #19 closed

[2018-03-06 22:27] srmagura commented on #19
Tested it in my application and it works. Great job!

[2018-03-08 18:12] kpennell opened #20 "The demos don't seem to work"
click/hover, you name it. Does nothing on your demos.

[2018-03-08 19:42] slmgc commented on #20
Thanks a lot for letting me know! The issue should be fixed now.

[2018-03-08 19:42] #20 closed

[2018-03-12 07:59] ambrwlsn opened #21 "Can only use one custom className"
https://github.com/slmgc/react-hint/blob/30366904525aa951553564ea97496e156312b0ad/lib/index.js#L161

Hi! It would be incredibly helpful if the ability to add more than one custom classname was introduced (perhaps a wrapper class for the outer div).

I am trying to create a tooltip with two different colour settings. I can't find a way for me to do this at the moment. I can have all the styles exac

[2018-03-12 08:17] slmgc commented on #21
Hi, if you need to have two different tooltip styles, you can create two instances of ReactHint, you can check an example here: https://react-hint.js.org/

These two threads might also help you:
https://github.com/slmgc/react-hint/issues/13
https://github.com/slmgc/react-hint/issues/8

[2018-03-13 15:19] ambrwlsn commented on #21
Hi thanks for your comment.

I don't want to use v1 (as suggested in issue #13) because then I'd miss out on features introduced in v2 and v3.

I also don't want to define two instances when I could have a single configurable instance.

Anyway, I found a work-around now for styling the tooltip, even though the CSS does not quite adhere to SASS guidelines and is quite repetitive. If you updated it,

[2018-03-13 18:08] slmgc commented on #21
Hi, can you provide a repro with your use-case?

[2018-03-16 15:57] ambrwlsn opened #22 "Is there a way to use components as child elements?"
`<span>`

`<ReactHint`
        `delay={100}`
        `attribute="label"`
        `className={cp-tooltip-${mode}}`
        `events={{hover: true}}`
       ` />`

`<Icon.Information label="Left" label-at="left" />`
`<button label="Top" label-at="top">Top</button>`

`</span>`

I would like to be able use a component (`Icon.Information`) in place of a single element (`button`).

The button renders and

[2018-03-16 18:17] slmgc commented on #22
Hi! Yep, this is doable if the component passes these props as the attributes of the dom-element, e.g.:

[code]

Hope this helps!

[2018-03-19 10:47] ambrwlsn commented on #22
Hi! Thanks.

Sadly your third example does not work. The props are not recognised by wrapping a span around the component.

In my case, the component is a self-created one. It is only a stateless component returning an SVG. To work around the issue, I have had to add props to the component (as in your first two examples). Not the best workaround but better than nothing.

[2018-03-19 12:35] ambrwlsn commented on #22
[code]
Actually, this works.

[2018-03-19 15:24] slmgc commented on #22
Hi, can you provide an example of what you did? I've just checked it with an SVG and a div-wrapper and it worked perfectly.

[2018-03-20 15:30] ambrwlsn commented on #22
I made it work finally when I figured out how to pass down props correctly :-)

[2018-03-20 18:28] slmgc commented on #22
Ok, great, resolving :3

[2018-03-20 18:28] #22 closed

[2018-03-20 18:28] slmgc commented on #21
Resolving as there is a workaround.

[2018-03-20 18:28] #21 closed

[2018-03-22 06:43] cyfloel0516 opened #23 "Shouldn't respond to the scroll event on mobile device"
Hey I just found a little problem on mobile device that the hint will be triggered when I hold my finger on the target and then scroll the screen even I set the events to "click".

I think it is not the expected behavior as holding and scrolling should not trigger click on mobile device. I guess the reason is because in the last line of toggleEvent function you register a handler for "touchend" ev

[2018-03-22 18:10] slmgc commented on #23
This is related to another bug: https://github.com/slmgc/react-hint/issues/12
Basically, there was an issue with click events in iOS, that's why a touch event handler was introduced. Removing this handler is not an option as it will break the tooltip for iPhone users, but I am open to suggestions.

[2018-03-22 19:23] togepige commented on #23
Hey Vladimir,

Thanks for a quick reply! So what about just remove that touchend handler for click? Sounds like we the touchend should only apply to hover for hiding the tooltip I guess? And for click I don't think touchend event is necessary as all we need is a click event?

Some thing like this:
Before:
`;(click || hover || hasEvents) && document[action]('touchend', this.toggleHint)`
To:
`;(hove

[2018-03-22 20:15] slmgc commented on #23
Hey Junkai! Thanks for this suggestion, I'll check it out and see if it resolves the issue.

[2018-03-27 07:49] ambrwlsn opened #24 "Accessibility using ARIA tags"
Hey, I am wondering if it's possible to ensure the tooltip is accessible. Perhaps using one of the examples listed [here](http://pauljadam.com/demos/aria-role-tooltip.html)? Have you ever considered the use of ARIA tags for the tooltip? Thanks

[2018-03-27 15:02] slmgc commented on #23
Ok, I've checked your proposal and it seems it's not an option to remove a touch event handler for click events as it breaks tooltips in iOS.

[2018-03-27 15:10] slmgc commented on #24
Hi, I don't want to bind tooltips to some existing attributes (title, aria-*, etc) as it might not always be an intent, thus they use an explicit custom attribute by default. You can change the default attribute of the tooltip to "aria-describedby", for example, this should cover your case.

[2018-03-29 17:11] slmgc commented on #23
@cyfloel0516 can you provide a repro with your case so I can try to figure out a way to solve it?

[2018-03-29 17:12] slmgc commented on #24
Resolving, please feel free to re-open in case you'll have any concerns.

[2018-03-29 17:12] #24 closed

[2018-03-30 18:03] togepige commented on #23
Hey @slmgc! I don't have a repo to show you now. But actually you can simply use your [Demo Page](https://react-hint.js.org/) to reproduce the issue.

Two ways to reproduce:

1. With chrome debugger: debug the website with mobile device mode. Then hold the mouse on one of those two green buttons("Click Me") and move the mouse(simulate scrolling). You can see it the hint will be opened or closed.

[2018-04-25 00:42] holman opened #25 "`auto` position, or window-aware hints"
Nifty library. ✨

One thing I'm looking to do is have the hint itself be aware of its surroundings. In other words, if I have a button that opens a tooltip, and, say, that button is flush with the bottom of the page, I'd like to open  the tooltip open to the top. Right now it just drops the tooltip to the bottom (if you request `bottom`) where you have to scroll to see it. Same idea on all the oth

[2018-04-25 04:08] slmgc commented on #25
Hey, thanks a lot for a suggestion. It's not doable at the moment, but it looks like a nice-to-have feature. I will look into it.

[2018-05-13 06:25] slmgc commented on #25
Added support for `autoPosition` property which handles your case.

[2018-05-13 06:25] #25 closed

[2018-05-13 15:27] holman commented on #25
:sparkles: looks great, thanks!

[2018-06-10 15:35] cimi commented on #3
Sorry for the super late reply!

Yes, this is/was the problem. We've fixed and we're happy users of react-hint.

[2018-06-14 14:13] matias-pool opened #26 "Hint positioning both vertically and horizontally"
It would be great if it was possible to position the hint both vertically and horizontally, like `position="topLeft"` or `horizontalPosition="left" verticalPosition="top"` or similar.

https://github.com/slmgc/react-hint/blob/1cb28df13617bb7b07650c44356738d68a5fdccf/src/index.js#L146

We extended the switch statement in `getHintData`  to handle our particular use case, but this approach may not be

[2018-06-14 18:15] slmgc commented on #26
Hi, that's a good idea, actually. I need to check how it's usually implemented. We can have a discussion here about the implementation details. I would prefer `top-left` to `topLeft` though. I am not sure if the tooltip should be positioned exactly at the edge of the element or should it be close to the edge. What do you think? What's your use-case? Can you append some screenshots?

[2018-06-14 18:18] slmgc commented on #23
Hey, I am currently working on the new API which will allow more freedom in trigger-events customization. This should resolve your use-case.

[2018-06-15 08:32] matias-pool commented on #26
Our use case is a multilingual questionnaire where the user should be able to listen to an audio clip
for any label. We are using `react-hint` to wrap the audio player. Extending the case statement is the simplest way, but it adds many lines of code.

![react-hint](https://user-images.githubusercontent.com/40055649/41457969-f8856246-708d-11e8-84e4-a2968afd5717.gif)

[2018-06-15 09:56] matias-pool commented on #26
For a more dynamic approach maybe a `"top-left".split('-')` could be done, and then top and left would be set for every item.

In a pseudo code fashion I mean:

[code]

[2018-06-15 10:42] matias-pool commented on #26
I'm adding a [patch](https://github.com/slmgc/react-hint/files/2105719/patch.zip) to show how it could be done.

* There is no sanity checking or error handling
* A `case 'center': left = 0` could be added for consistency
* The other switch must do something similar at
https://github.com/slmgc/react-hint/blob/1cb28df13617bb7b07650c44356738d68a5fdccf/src/index.js#L117

[2018-07-09 16:02] vivaldus opened #27 "Demo usage is confusing / not explained"
The working demo looks promising, but I gave up almost instantly trying to implement this library for the following reasons:

1. No explanation given at all for why there are two declarations of <ReactHint /> given one after the other. Why -- I ask myself -- don't you just move props `autoPosition events delay={100}` from first to second (and get rid of first)? I'm sure there's a reason that's cle

[2018-07-10 02:43] slmgc commented on #27
Hi! Thanks for your feedback! I agree the documentation requires some love and improvement. For a detailed explanation, I advise you to check this issue: https://github.com/slmgc/react-hint/issues/13. `this.instance` is not part of API, it's just a property of a component which holds a reference to a custom tooltip, you can read about them here: https://reactjs.org/docs/refs-and-the-dom.html#callb

[2018-07-14 08:06] Krasnopir commented on #21
if someone uses css modules, you can write your css like this:
p.s. works for me

`
.customHint
    position: absolute
    z-index: 99
    height: 0
    width: 290px

    &[class*='--right']
        padding-left: 22px

        .hintContent:before
            position: absolute
            right: 100%
            top: 44px
            border: 16px solid transparent
            border-left: none

[2018-07-24 17:44] Kikobeats opened #28 "ARIA compilant"
Hello,

I think could be easy make this library ARIA compilant
http://accessibility.athena-ict.com/aria/examples/tooltip.shtml

[2018-07-24 19:59] slmgc commented on #28
Hi @Kikobeats,

That's a good idea. Does it mean that the tooltip itself needs to have only `role="tooltip"` attribute to be ARIA-compliant?

[2018-08-02 20:26] slmgc commented on #26
@matias-pool after a second thought, it doesn't seem to be a simple decision. I don't think there is a universal solution to align tooltips vertically + horizontally. For example, let's take "bottom-left", there are 3 possible implementations:

1. The arrow is centered horizontally:

<img width="314" alt="screen shot 2018-08-02 at 12 48 24 pm" src="https://user-images.githubusercontent.com/5236786

[2018-08-03 07:43] Kikobeats commented on #28
Not just role, adding an ARIA label when the tooltip is hidden or no 🙂

[2018-08-03 07:44] Kikobeats commented on #28
A relevant reference: https://github.com/egoens/react-aria-tooltip/blob/c1679fc4c252a382c3e7115f2be20ff0bfa2abab/src/tooltip-content.jsx#L12

[2018-08-03 14:22] slmgc commented on #28
@Kikobeats it doesn't make any sense to add such a label as there is no dom element to show the hidden status :)

[2018-08-09 16:04] slmgc commented on #26
Closing this issue for now as there is no obvious solution which fits all cases.

[2018-08-19 18:49] prymitive opened #29 "Allow setting different show & hide delay"
Is this possible? Looking at the code I only see a single timer for this, is there any hook I can use to customize this?
I want to have long show delay but a short hide to avoid spamming the UI with tooltip popups as user moves the mouse around. Tooltips should only show up if user is confused what given control does and pauses for a second, but once tooltip is visible and user moves the cursor aw

[2018-08-20 18:09] slmgc commented on #29
Hi, I can introduce this change, for sure.

[2018-08-21 15:40] drosko opened #30 "Show tooltip on disabled buttons"
Tooltip will not show on a disabled button.  Is this possible to fix?  I'd be happy to take a stab at it if you think it is doable. I tried wrapping the button in a span with the data-rh attribute, but that didn't work.

[2018-08-21 18:03] slmgc commented on #30
Hi, let me try experimenting with this a little bit. I'll get back to you with my findings.

[2018-09-20 06:19] trusktr opened #31 "Not working with CSS transforms"
react-hint is having the same issue as with [react-tooltip](https://github.com/wwayne/react-tooltip/issues/434) and [with popper.js](https://github.com/FezVrasta/popper.js/issues/686) (see solution concept there) in that it doesn't work with transformed containers (specifically scale).

Just try adding `transform: translateX(-149px) scale(0.8);` to your demo container, then you'll see the tooltips

[2018-09-25 20:13] slmgc commented on #31
Thanks for this issue! I'll try to check if it's easily solvable and update you on my findings.

[2018-09-28 20:01] slmgc commented on #30
Hi! Sorry for such a long delay :/ Inline elements won't work, but block elements do work when you wrap a disabled button. Here's what you can do:

[code]

Hope this helps!

[2018-09-28 20:01] #30 closed

[2018-09-28 20:53] drosko commented on #30
👍

[2018-10-01 17:58] slmgc commented on #31
After giving it some thought, I've decided not to support this edge case as it complicates the implementation and will introduce more positioning issues. As a solution for your case, you can try applying the same transformations to the tooltip itself.

[2018-10-16 20:36] davidrenne commented on #13
I am so lost as to how to do two custom rendered react hint's

Whenever I hover over my container to pop up the hint object, both of my tooltips show at the same time and start showing my videos in my custom render.

It seems I am stuck for the evening with 1 tool tip per page until I can figure out how the heck these custom classes go together so that one container is isolated to it's own thing.

[2018-10-16 20:42] davidrenne commented on #13
@slmgc sorry to comment on a closed issue.  I can add as a separate issue if you'd like?

[2018-10-16 23:23] slmgc commented on #13
Hi @davidrenne, I am really sorry to hear that you have so much trouble dealing with multiple `ReactHint` instances. I should have updated the docs a long time ago... 😓

I believe the issues is that every wrapper instance uses the same hard-coded `attribute` name `"data-custom"`. Thus, all of them listen to the same events, basically.

If you'll check my topmost comment here: https://github.com/sl

[2018-10-17 01:38] davidrenne commented on #13
@slmgc u rock!  ill check it out in the morning and see if I can get it working.

Yea I think if I have 1 node of reacthint maybe ill have less issues.

Thanks for a quick response.  Ill let you know if i get it working tomorrow.

[2018-10-17 14:31] davidrenne commented on #13
@slmgc Yea I just dont get how it can be a singleton node.

You pass a function onRenderContent for a custom render to render the inside of the div when the popup shows.

I did actually try to change the attribute={} prop to a unique one, but whenever I change it to anything but "data-custom" the help icons disappear on me.

I am not sure how multiple nodes showing different videos would actually

[2018-10-17 14:41] davidrenne commented on #13
@slmgc

I think I got it figured out.  I think my case is the 0.01 case because each popup has unique content onRender.

When my tip is a function I merely generate a unique tip ID from the video URL

[code]

It probably never showed up because I was changing just the attribute inside of the ReactHint and not adjusting the above block of code to match it.

Here's the full file which is not isolati

[2018-10-18 21:41] slmgc commented on #13
@davidrenne I still don't get it when you say "I think my case is the 0.01 case because each popup has unique content onRender." Does it mean every tooltip looks completely different with custom css styling? Or is it about custom content only? Because if it's about content with the same-looking tooltip, then it means that you are probably overcomlicating things.

"Yea I just dont get how it can be

[2018-10-19 00:54] davidrenne commented on #13
Yea I think i am overcomplicating, but it works right now with spawning off a unique node or attribute for each popup with a different video of content using a different onRenderContent.

Thanks for listening and helping me out!  Nice library which floats in a nice position each time with minimal changes to styling.

[2018-10-19 18:51] slmgc commented on #13
I'll try to come up with an example for you to be used with your video tooltips, maybe it will help you as creating a new `ReactHint` instance per tooltip is costly, this is the reason why this library was created in the first place, to optimize things for such cases and that's why it should be a singleton in most of the cases.

[2018-10-19 20:16] davidrenne commented on #13
That would be delicious.  So far performance wise, its like instantaneous for my small use case of a video tag.  I do know why probably you went into the singleton direction.  Node rendering seems to be most CPU intensive the more nodes you have on re-renders.  Like for example SVG's we found are super slow compared to a simple img tag with a png.  But you lose the benefits of color controls etc.

[2018-11-09 16:36] ptisdel opened #32 "Add option to show tooltip by default"
Could you add a feature whereby the tooltip would start as visible on page load? I have a situation where I need to call attention to a new page element, and dismiss the tooltip on a click anywhere on the page (which you've already implemented).

[2018-11-09 20:51] slmgc commented on #32
Hi, I believe there is a way how to show a tooltip:

[code]

Hope this helps!

[2018-11-10 03:21] paigeflourin opened #33 "does this have typescript definitions?"
i'd like to use it for my project but my project uses typescript. can it work in typescript?

[2018-11-10 05:21] slmgc commented on #33
It doesn't have typescript definitions, but I believe it should be pretty easy to use with typescript without definitions or create ones from scratch. You are welcome to contribute :3

[2018-11-10 05:54] paigeflourin commented on #33
How do I make a component as the content? sorry i am quite confused with the docs

[2018-11-12 16:18] ptisdel commented on #32
That helps! Do I have to provide a specific target? I see this.instance.toggleHint() doesn't work without a reference. Ideally I could just toggleHint for all elements with the data-rh attribute. Gaining target refs several levels beneath the ToolTipProvider is a bit painful.

[2018-11-13 01:09] slmgc commented on #32
There is no API for toggling tooltips for all elements with `data-rh` and I don't see an easy and convenient way to do that. If you have an idea in mind how to do that, I am open for suggestions.

[2018-11-13 01:15] slmgc commented on #33
Hi, you can use `onRenderContent` property to render any component as a tooltip's content:

[code]

Feel free to ping me if this doesn't answer your question.

[2018-11-16 01:33] slmgc commented on #32
Resolving, feel free to re-open.

[2018-11-16 01:33] #32 closed

[2018-11-28 22:36] willadamskeane commented on #29
Any updates on this?

[2018-11-29 22:35] slmgc commented on #29
@willadamskeane not yet, but I will try working on that this weekend

[2018-11-30 14:58] gion commented on #10
I have a similar issue, but my use case is that I'm exporting a react component that uses react-hint. This component can be instantiated multiple times, meaning that it will create multiple instances of react hint... which is resulting in weird UX.

[2018-12-01 00:02] slmgc commented on #10
@gion `react-hint` is not supposed to be instantiated multiple times, except when it's necessary in some edge-cases. It's not your regular component-wrapping tooltip. I guess you can still export a react component which uses `react-hint`, but `react-hint` should be imported and defined separately.

[2018-12-05 16:46] slmgc commented on #29
@prymitive @willadamskeane added show/hide delay

[2018-12-05 16:46] #29 closed

[2018-12-05 17:47] willadamskeane commented on #29
A little issue I've noticed - the hide delay seems to be ignored if you immediately hover over an adjacent component with a tooltip attached.

[2018-12-13 16:04] capsudo commented on #27
Well it is even more confusing after reading (the beginning of) issue #13. The reference `this.instance` is simply used to toggle the tooltip, this is ok, but where should we define the content which appears inside a tooltip ?

As I understand it it needs to be defined in another DOM node which has `data-rh` attribute but there are many is the example so I don't really get it.

edit :

well turned

[2018-12-14 15:52] monkeydri opened #34 "[Feature-request] Fade out animation on leave"
Currently it is not possible AFAIK to add a CSS animation which triggers once the element that toggle `react-hint` is hovered out.

We can use `delay={{ hide: someDelay }}` props but then the react-hint is removed from DOM after specified delay when [state.target](https://github.com/slmgc/react-hint/blob/master/src/index.js#L39) is emptied, thus no animation can be shown.

An option to allow fadeO

[2018-12-14 16:31] monkeydri opened #35 "[Feature-request] Fade in animation for multiple react-hint"
When using a react-hint which can be triggered by multiple elements (more than one element with `data-rh` attribute) and using a hide delay (`delay={ hide: someDelay }`), the [fadeIn](https://github.com/slmgc/react-hint/blob/master/css/index.css#L54) animation is only triggered when the first tooltip is shown (hover on one of the elements which toggles it). But if hovering onto another element bef

[2018-12-15 00:02] slmgc commented on #35
@monkeydri sounds good, that would be awesome if you can work on a PR for this.

[2018-12-15 00:28] slmgc commented on #27
`ReactHint` is (in 99% of cases) a singleton-component which is used to render tooltips, but you define the content using `data-rh` attributes on the elements which are supposed to have tooltips.

ReactHint is not your regular wrapping tooltip component library, this is the main point of confusion, e.g. this is incorrect:

[code]

@monkeydri

Actually, `data-rh` attribute is used to define a text

[2018-12-17 14:07] capsudo commented on #27
Thanks for your answer, I understand now why the doc stated that `data-rh` was used to pass content. I will submit a PR to try to summarize your explanations here and in #13.

For the  `const ReactHint = ReactHintFactory(React);` inside render() yes indeed the example was not really wise ! I did like in the examples in my app (call it a top of file before component class definition).

[2018-12-20 21:21] tomemmerson commented on #12
Hi is there an option to have the tooltips to **not** persist on mobile, as the fix to this issue seems to have cause them to persist?

[2019-01-11 04:58] tnguyen14 opened #38 "Warning: validateDOMNesting(...): <div> cannot appear as a child of <tr>."
When I have a `data-rh` attribute on a `<span>` inside a `<tr>` element, the tooltip element is still created as a `<div>`, causing the warning:

[code]

Is it possible for the tooltip element to be configured to be a `span` instead of `div`?

[2019-01-11 14:02] danherd opened #39 "Cannot get this to work"
I'm following the docs and can't seem to get this working. Here's my index.tsx:

[code]

The following line:

`const ReactHint = ReactHintFactory(React)`

Generates this in my console:

`Uncaught TypeError: react_hint_1.default is not a function`

package.json devDependencies:

[code]

Am I missing something? Is there a bug?

[2019-01-11 14:46] danherd commented on #39
OK, figured it out.

It would appear I needed to use:

`import * as ReactHintFactory from 'react-hint'`

instead of:

`import ReactHintFactory from 'react-hint'`

and it works perfectly. Feel free to close this ticket, but you might want to update the docs too...

[2019-01-22 19:30] slmgc commented on #39
@danherd I guess this is related to the TypeScript syntax, e.g. look at React import:

TS:
[code]

JS:
[code]

That's one of the differences between two languages.

[2019-01-22 19:30] #39 closed

[2019-01-29 21:21] slmgc commented on #38
Hey, sorry about the late reply, I had a really long vacation :)

If I understand your case correctly, a tooltip element is never rendered inside of a table, unless you place ReactHint inside of it and this is the thing you shouldn't do. You should place ReactHint in your topmost controller, if possible, closer to the body of the document. It would be great if you can provide a sample code which f

[2019-02-02 20:54] Grandclosing opened #40 "Is there a duration parameter?"
A duration parameter would be nice, to configure how long the tooltips stay visible. Based on the documentation I don't believe there is - correct me if I'm wrong!

[2019-02-04 13:54] slmgc commented on #40
There is one. There is a property in the docs called "delay" which accepts either number or an object, e.g.
[code]
Hope this helps!

[2019-02-05 20:34] slmgc commented on #38
I will close it, please feel free to reopen in case you still have this issue.

[2019-02-05 20:34] #38 closed

[2019-02-05 20:35] slmgc commented on #40
Closing, please feel free to reopen in case you still have questions.

[2019-02-05 20:35] #40 closed

[2019-03-08 19:38] dsarfati opened #41 "Tooltip content rendering inline"
My tooltip content is rendering at the position of the `ReactHint` instead of floating above the element with the `data-rh`. I am including `<ReactHint autoPosition events />` in my component, not at the `<App />` level. Could this cause problems?

Example:
[code]

[2019-03-08 20:20] slmgc commented on #41
@dsarfati Hi, yes, this could be the source of the issue. You shouldn't include ReactHint in each component with tooltips because this will create multiple instances of ReactHint.

[2019-03-08 21:00] dsarfati commented on #41
Thanks for the quick response! It looks like I was missing the `import 'react-hint/css/index.css'`. I'll work on moving my ReactHint out of the component.

[2019-03-08 21:00] #41 closed

[2019-03-10 20:27] mustafamagdy opened #42 "How to prevent tooltip from closing on click outside?"
How to prevent the tooltip from closing when click outside, in other words, manually toggle it?

[2019-03-14 22:47] slmgc commented on #42
Hi, there is a way to manually toggle the tooltip, check out this issue:
https://github.com/slmgc/react-hint/issues/32

[2019-03-21 05:31] #42 closed

[2019-05-03 16:20] adardesign opened #43 "Possibility to pass a component to be rendered in the tooltip content"
Is there a way to render a component as the tooltip's content?

For example:
[code]

`const TooltipContentComponent = (props) => <p>content {props.prop1}</p>;`

[code]

[2019-05-05 18:16] slmgc commented on #43
Hi! I don't really get your question as `onRenderContent` is used to show components within tooltips, e.g.:

[code]

[2019-05-05 22:18] adardesign commented on #43
I understad..

But what if each button needs a different custom `component`
I don't want to have multiple `ReactHint`s  when the only difference is the component passed long.

Here is a example of how I got around this issue.

[code]

[2019-05-20 13:00] slmgc commented on #43
@adardesign I am working on a new major version. Will keep your case in mind

[2019-06-14 05:30] vadbut opened #44 "Multi-line"
Hi,

Is it possible to show multiple lines in a popup for a very basic case?
[code]
I tried using "\n" symbol but it didn't work.

[2019-06-15 07:44] slmgc commented on #44
Hi, as you might know, browsers ignore `\r\n` characters. To have a multiline output you have to use tags: `<br>`, `<p>`, etc. For your case, if you still want to render multiline characters with `\n` symbol, you can use `onRenderContent` property:

[code]

P.S. You can read more about `dangerouslySetInnerHTML` and XSS attacks threat here: https://reactjs.org/docs/dom-elements.html#dangerouslyseti

[2019-06-16 18:14] #44 closed

[2019-06-29 06:36] adamPrune commented on #44
I tried using `<br>` tag inside the `data-rh='some text'` text but it seems that it's not possible, and I need to use the onRenderContent method to make a multiline. Is that correct?

[2019-07-03 06:58] slmgc commented on #44
@adamPrune that's correct, you'll have to use the approach from the example above.

[2019-08-20 18:14] mpigsley opened #45 "Close On Button Click"
If only the "click" event is set to true, it seems as though clicking an element with `data-rh` works to open the hint but clicking it again does not close the hint.

I can wire up `toggleHint` from the ref, but it seems like the default here should be to close hint if the element is clicked again.

[2019-08-21 17:08] slmgc opened #46 "Discuss API v4"
As I am slooooooowly working on the next API, I guess it makes sense to gather all the feedback and ideas, and feature requests before it gets cut in stone. I am going to write down some of my thoughts about the new API and show what I have in mind.

Folks, if you have major pain points with the current API, I would like to know about them and discuss what could be improved.

[2019-08-21 17:29] slmgc commented on #45
Hi, thanks for raising this issue. Indeed, currently, it doesn't hide the hint in case of triggering the same event. Initially, the API was made for `hover` events, `click` events were kinda ad-hoc, that's why they aren't convenient to deal with. The `persist` property was introduced to retain the hint if you hover/click inside of the hint itself, otherwise, it would become hidden.

You are right,

[2019-08-21 17:55] mpigsley commented on #45
Absolutely! Thanks for comment @slmgc!

[2019-08-21 18:01] slmgc commented on #46
These are the main points I would like to cover in the new API:

- [ ] 1. Add support for any events including custom ones.
- [ ] 2. Make it convenient to programmatically toggle a tooltip, e.g. via click or custom events.
- [ ] 3. If possible, make it CSS modules-friendly.
- [ ] 4. Add a way to introduce a custom logic to decide if the tooltip needs to be shown or hidden.
- [ ] 5. Introduce a way

[2019-08-21 18:53] slmgc commented on #2
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 18:53] slmgc commented on #3
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 18:54] slmgc commented on #4
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 18:55] slmgc commented on #6
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 18:56] slmgc commented on #10
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 18:57] slmgc commented on #12
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 18:58] slmgc commented on #13
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 18:58] slmgc commented on #14
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:00] slmgc commented on #15
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:01] slmgc commented on #18
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:02] slmgc commented on #19
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:03] slmgc commented on #21
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:04] slmgc commented on #25
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:05] slmgc commented on #26
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:06] slmgc commented on #28
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:07] slmgc commented on #29
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:08] slmgc commented on #30
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:09] slmgc commented on #31
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:11] slmgc commented on #32
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:12] slmgc commented on #40
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:12] slmgc commented on #41
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:13] slmgc commented on #23
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:14] slmgc commented on #27
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:15] slmgc commented on #43
I am working on the next API, it's halfway there, but I would like to get as much feedback as possible about all the inconveniences with the current API and have a proper discussion around the new API. If you could join the discussion it would be awesome: https://github.com/slmgc/react-hint/issues/46

[2019-08-21 19:40] jcuenod commented on #2
Thanks for the invitation but I haven't been using `react-hint` for a while now so I'm probably not the ideal person.

[2019-08-21 20:23] hudochenkov commented on #6
I wish I could help. I'm not working on a project which uses your library for a long time now.

[2019-08-23 18:41] drosko commented on #46
Regarding the 'show tooltip on disabled buttons', it would be most convenient to just have a prop or attribute to flag whether you want the tooltip to still show if it's disabled.

[2019-08-23 19:58] slmgc commented on #46
@drosko I guess it's doable with the current API, something like this:
[code]

[2019-08-26 17:54] srmagura commented on #46
I was going to say that it would be nice if React Hint let you display a custom tooltip by suppling a JSX element or render prop like
[code]
This would be "better" than ReactHint's onRenderContent since you can supply different tooltip JSX for each element.

But since data attributes can only have string values this doesn't seem possible. Seems like using Popper.js directly is the still the best o

[2019-08-26 21:45] slmgc commented on #46
@srmagura The difference here is that Popper.js creates an instance per tooltip, thus having hundreds of elements on the page might slow things down. React-hint was created to avoid such situations. It might seem to be inconvenient at first, but this approach allows to have both: performance AND versatility.

[2019-10-01 11:08] whitepotato commented on #33
Could not find a declaration file for module 'react-hint'.
  Try `npm install @types/react-hint` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-hint';`  TS7016

[2019-10-31 09:45] slmgc commented on #33
@whitepotato that's because no one contributed type definitions, but you a welcome to do it

[2019-10-31 09:45] #33 closed

[2019-10-31 09:46] #26 closed

[2019-10-31 09:49] #43 closed

[2020-01-22 17:12] DonIsaac opened #48 "[Bug] Tooltips Do Not Work With ShadowDOMs"
Heyo,

My preact application uses a shadow dom as a mounting point, and tooltips are not appearing. I did some digging through the source code, and I believe I know why.

[code]

Events in the shadow dom are not propagated up to `document`, so `toggleHint` never fires.

One way that this could be fixed is by allowing users to specify the element where the `ReactHint` singleton should listen for ev

[2020-01-23 06:57] slmgc commented on #48
Thanks for reporting this! I'll try to fix this

[2020-01-24 02:15] slmgc commented on #48
@DonIsaac could you also provide a simple repro?

[2020-01-27 17:33] DonIsaac commented on #48
I can't use the codebase that I'm using as an example, but if I get time I'll upload a simple repro

[2020-03-31 11:02] essensx opened #49 "[Bug] Tooltip breaks in specific cases, causes infinite re-renders and crashes"
Not completely sure what is happening here, seems since the lib can't properly position the tooltip, it tries to reposition it infinitely.

Sample: https://codesandbox.io/s/awesome-ellis-yyjyf

### Steps To Reproduce

* Open Chrome;
* Toggle device toolbar;
* Select Galaxy S5 as device (Tested on these specs https://i.imgur.com/l92uDY5.png);
* Click on "Hover me" element.

### Result

App crashes,

[2020-04-03 19:30] ranihorev commented on #49
Here is a fix - https://github.com/slmgc/react-hint/pull/50

[2020-04-22 19:54] emilschutte commented on #48
A related issue is that tooltips don't work in a React portal in another browser window (due to this hard binding to the main window's `document`).

[2020-05-05 11:20] essensx commented on #49
Any updates?

[2020-07-17 19:47] slmgc commented on #48
@emilschutte hm, thanks for letting me know, could you provide a repro so I could try fixing that?

[2020-07-17 19:49] slmgc commented on #49
@essensx whoah, looks like I totally missed that issue, sorry about that.
@ranihorev thanks a lot for the fix, I started the review, will try to check everything this weekend.

[2020-07-17 21:54] emilschutte commented on #48
Let's see, not sure I remember exactly 😅 ... I think it was something like this:

https://codesandbox.io/s/react-fiddle-l7qdj?file=/src/App.js

[2020-08-20 20:50] RyanChristian4427 commented on #46
I realize this is a year old, so just let me know if you have no intention of maintaining this any further, but a good improvement would be to move away from setting event listeners on `document`. This approach has made me avoid this library, as a page might have hundreds of elements being checked when there's absolutely no need to do so. Add an SVG or two to the page and there will be thousands,

[2021-02-19 16:54] evgenyfadeev commented on #48
I made it to work in the portal by adding a separate instance of <ReactHint /> in the root of the portal, however, the tooltips open in all instances of the <ReactHint /> and sometimes you can see more than one tooltips at the same time.

[2021-03-01 05:11] tonypee commented on #45
Is a v4 happening, which this would be a part of?

[2021-03-10 10:00] davidesigner commented on #49
Hi @slmgc, could you merge the fix of @ranihorev #50 please? Thank you!

[2021-04-02 09:37] slmgc commented on #49
Hi everyone, sorry for not responding on time :/
Merged and released a new version with the fix, thanks a lot @essensx and @ranihorev

[2021-04-02 09:37] #49 closed

[2021-04-02 09:51] slmgc commented on #45
@tonypee it is happening, I would like to close this deal within April

[2021-04-06 22:16] tonypee commented on #45
@slmgc Great! Hope to get to play with it soon!

[2021-09-02 01:28] srmagura opened #52 "Infinite render loop when tooltip is on the right edge of the page"
### [CodeSandbox here](https://codesandbox.io/s/react-hint-infinite-rerender-no-bootstrap-1z08p?file=/src/App.jsx)

[code]
Everything in this example besides the `backgroundColor` is necessary to reproduce the bug.

Error message when hovering over the button:
[code]

I will look into fixing it myself but help would definitely be appreciated!

[2021-09-30 09:12] PFight opened #53 "Window edge detection fails"
When tooltip shows to top, it do not check, that it's content visible on screen:

![image](https://user-images.githubusercontent.com/198847/135423691-30672af6-07ba-4d63-bf68-fe9985839c82.png)

[2021-09-30 09:31] PFight commented on #53
Probably fix:

[code]

![image](https://user-images.githubusercontent.com/198847/135427094-a58779a1-0dcb-4c75-a72a-a3c5bb931a80.png)

[2021-10-02 17:25] mrbrianevans opened #54 "Not working with Preact"
I am trying to use this in a Preact app, but can't get it to work.

[code]

I have compat aliases set up in snowpack config:
[code]
and typescript paths in tsconfig.json:
[code]

I created the factory as recommended in the docs, but still get the above mentioned error.

Has anyone else successfully used `react-hint` with the latest version of preact? (v10.5.14 at time of writing).

Any ideas what

[2022-01-05 17:59] JuliusHenke commented on #54
@mrbrianevans Maybe you have missed the change in what parameters need to be passed to `ReactHintFactory`. Taken from `README.md`:
[code]
This fixed it for me on preact v10.3.4.

[2022-01-06 04:42] rajshah2399 opened #55 "validateDOMNesting(...): <div> cannot appear as a child of <tr>. at div at TitleCell"
can anyone please help me with this, Thanks ..!!

in Title cell components
before  I implement my code, it's working fine with this code

import React from 'react';
import PropTypes from 'prop-types';
import styled from 'styled-components';
import Breadcrumb from '../../../components/Breadcrumb';

const StyledTitle = styled.div`
    color: #091219;
    font-size: 1.125rem;
    font-weight: Bold;

[2022-01-09 08:19] theoparis commented on #54
Unfortunately, this gives the following error in typescript.

[code]

A workaround is to use the following type cast, although it is pretty ugly.
[code]